[submodule "themes/hugo-tranquilpeak-theme"]
	path = themes/hugo-tranquilpeak-theme
	url = https://github.com/kakawait/hugo-tranquilpeak-theme.git
[submodule "dist"]
	path = dist
	url = https://github.com/cuisongliu/cuisongliu.github.io.git
